<!DOCTYPE html>
<html lang="en">
  <body>
   <div class="cards-container">
    <div class="card-wrapper">
    <div class="card-data">
         <div class="card-front">
          <h3></h3>
         </div>
          <div class="card-back">
            <h3></h3>
          </div>
    </div>
    <div class="card-controlers">
        <a  class="delete-card-lnk"data-userId=""data-cardId =""data-deckId="">
        <img class="delet-card" src="/imgs/delete.png" alt="trashCan img" class="delete-img" >
      </a>
       <a  href="" class="edit-card-lnk" >
        <img class="edit-card" src="/imgs/edit.png" alt="trashCan img" class="delete-img" >
      </a>
    </div>
    </div>
        <div class="cards-container">
          <div class="card-wrapper">
            <div class="card-data">
              <div class="card-front">
          <h3>๐คฆ ูููุฑูู ูุนูู ูุด ูุงุฎุฏ ุจุงูู ุฅูู ูููู ุชุนูู ูุฏู </h3>
         </div>
          <div class="card-back">
            <h3>๐คก ูุจูู ุจุชุจุต ุนูู ุฅูู  ุฑุจูุง ููุฏูู</h3>
          </div>
            </div>
          </div>
        </div>
   </div>
   <script src="/scripts/cards-overview.js" ></script>
  </body>
</html>